{% extends 'core/base.html' %}
{% load static %}
{%block title%}Página Inicial{%endblock%}

<!-- BLOCO CONTENT... ainda será desmembrado -->
{% block content %}

			<section class="page_slider">
				<div class="ds flexslider flexslider-style2">
					<ul class="slides">
						<li class="cover-image flex-slide">
							<img src="{% static 'images/slider/slider2_01.jpg' %}" alt="">
							<div class="container">
								<div class="row">
									<div class="col-md-12">
										<div class="intro_layers_wrapper">
											<div class="intro_layers">
												<div class="intro_layer" data-animation="fadeInRight">
													<h6>
														SEJA BEM VINDO
													</h6>
												</div>
												<div class="intro_layer" data-animation="fadeInRight">
													<h1>
														<span> AO MAIOR PORTAL</span>
													</h1>
												</div>
												<div class="intro_layer" data-animation="fadeInRight">
													<h1>
														MILITAR DO BRASIL
													</h1>
												</div>
												<div class="intro_layer" data-animation="fadeInRight">
													<div class="fw-divider-slider">
														<p class="special"></p>
													</div>
												</div>
												<div class="intro_layer" data-animation="fadeInUp">
													<p>Estamos juntos pela mesma missão.<br> Tudo sobre a vida militar reunidos em um só lugar. </p>
												</div>
												<div class="intro_layer" data-animation="fadeInUp">
													<a href="#" class="btn btn-maincolor">O PORTAL</a>
													<a href="#" class="btn btn-outline-maincolor"> NOSSOS SERVIÇOS</a>
												</div>
											</div> <!-- eof .intro_layers -->
										</div> <!-- eof .intro_layers_wrapper -->
									</div> <!-- eof .col-* -->
								</div><!-- eof .row -->
							</div><!-- eof .container-fluid -->
						</li>

						<li class="cover-image flex-slide">
							<img src="{% static 'images/slider/slider2_02.jpg' %}" alt="">
							<div class="container">
								<div class="row">
									<div class="col-md-12">
										<div class="intro_layers_wrapper">
											<div class="intro_layers">
												<div class="intro_layer" data-animation="fadeInRight">
													<h6>
														SEJA BEM VINDO
													</h6>
												</div>
												<div class="intro_layer" data-animation="fadeInRight">
													<h1>
														<span>MILITARES</span>
													</h1>
												</div>
												<div class="intro_layer" data-animation="fadeInRight">
													<h1>
														SOMOS O BRASIL
													</h1>
												</div>
												<div class="intro_layer" data-animation="fadeInRight">
													<div class="fw-divider-slider">
														<p class="special"></p>
													</div>
												</div>
												<div class="intro_layer" data-animation="fadeInUp">
													<p>Fique por dentro de tudo que acontece na área militar, tire suas dúvidas. <br> Encontre desde artigos, acessórios ou uniformes militares. </p>
												</div>
												<div class="intro_layer" data-animation="fadeInUp">
													<a href="#" class="btn btn-maincolor">NOSSA LOJA</a>
													<a href="#" class="btn btn-outline-maincolor"> NOSSAS NOTÍCIAS</a>
												</div>
											</div> <!-- eof .intro_layers -->
										</div> <!-- eof .intro_layers_wrapper -->
									</div> <!-- eof .col-* -->
								</div><!-- eof .row -->
							</div><!-- eof .container-fluid -->
						</li>


					</ul>
				</div> <!-- eof flexslider -->
			</section>

<section id="blog" class="blog-home-style2 s-py-50 ">
				<div class="container" >
					<div class="row">
						<div class="col-sm-12 text-center">
							<h1><span class="color-main">NOSSO </span>BLOG</h1>
							<div class="divider-20"></div>
							<div class="fw-divider-special-center">
								<p class="special"></p>
							</div>
							<div class="divider-35 divider-md-55"></div>
						</div>
						<div class="col-md-12">
							<div class="row justify-content-center">
								<div class="col-lg-5 col-md-12 main-block">
									<article class="ls content-padding post type-post status-publish format-standard has-post-thumbnaills">
										<div class="item-media post-thumbnail">
											<img src="{% static 'images/blog/01.jpg' %}" alt="">
											<div class="media-links">
												<a class="abs-link" title="" href="blog-left.html"></a>
											</div>
										</div>
										<!-- .post-thumbnail -->
										<div class="item-content">
											<header class="entry-header">
												<a href="blog-single-right.html" rel="bookmark">
													<time class="entry-date published updated" datetime="2018-03-18T15:15:12+00:00">June 18, 2019</time>
												</a>
												<div class="entry-meta">
													<span class="like-count">
														<a href="#">
															<i class="color-main fa fa-heart-o"></i>
															12
														</a>
													</span>
													<span class="comment-count">
														<a href="#">
															<i class="color-main fa fa-comments-o"></i>
															65
														</a>
													</span>
												</div>
											</header>
											<h3 class="entry-title">
												<a href="blog-single-right.html" rel="bookmark">
													We specialize in one of a kind products and reworking pieces that are not accomplishing.
												</a>
											</h3>
											<!-- .entry-header -->
											<div class="entry-content">
												<p>Maecenas mattis metus molestie, neque ac. Libero condimentum ullamcorper sapien nulla turpis libero.</p>
											</div>
											<!-- .entry-content -->
											<a class="read_more" href="blog-single-right.html" rel="bookmark">
												Read more
											</a>
										</div>
										<!-- .item-content -->
									</article>
								</div>
								<div class="divider-60 d-md-block d-lg-none"></div>
								<div class="col-lg-7 col-md-12 second-block">
									<article class="ls content-padding post type-post status-publish format-standard has-post-thumbnaills">
										<div class="item-media post-thumbnail">

											<img src="{% static 'images/blog/03.jpg' %}" alt="">

											<div class="media-links">
												<a class="abs-link" title="" href="blog-left.html"></a>
											</div>
										</div>
										<!-- .post-thumbnail -->
										<div class="item-content">
											<header class="entry-header">
												<a href="blog-single-right.html" rel="bookmark">
													<time class="entry-date published updated" datetime="2018-03-18T15:15:12+00:00">Jul 23, 2019</time>
												</a>
											</header>
											<!-- .entry-header -->
											<h3 class="entry-title">
												<a href="blog-single-right.html" rel="bookmark">
													We are solution-oriented often provide multiple
												</a>
											</h3>
											<!-- .entry-content -->
											<div class="entry-meta">
												<span class="like-count">
													<a href="#">
														<i class="color-main fa fa-heart-o"></i>
														36
													</a>
												</span>
												<span class="comment-count">
													<a href="#">
														<i class="color-main fa fa-comments-o"></i>
														5
													</a>
												</span>
											</div>
											<a class="read_more" href="blog-single-right.html" rel="bookmark">
												Read more
											</a>
										</div>
										<!-- .item-content -->
									</article>
									<article class="ls content-padding post type-post status-publish format-standard has-post-thumbnaills">
										<div class="item-media post-thumbnail">

											<img src="{% static 'images/blog/02.jpg' %}" alt="">

											<div class="media-links">
												<a class="abs-link" title="" href="blog-left.html"></a>
											</div>
										</div>
										<!-- .post-thumbnail -->
										<div class="item-content">
											<header class="entry-header">
												<a href="blog-single-right.html" rel="bookmark">
													<time class="entry-date published updated" datetime="2018-03-18T15:15:12+00:00">Jun 10, 2019</time>
												</a>
											</header>
											<!-- .entry-header -->
											<h3 class="entry-title">
												<a href="blog-single-right.html" rel="bookmark">
													We are solution-oriented often provide multiple
												</a>
											</h3>
											<!-- .entry-content -->
											<div class="entry-meta">
												<span class="like-count">
													<a href="#">
														<i class="color-main fa fa-heart-o"></i>
														3
													</a>
												</span>
												<span class="comment-count">
													<a href="#">
														<i class="color-main fa fa-comments-o"></i>
														8
													</a>
												</span>
											</div>
											<a class="read_more" href="blog-single-right.html" rel="bookmark">
												Read more
											</a>
										</div>
										<!-- .item-content -->
									</article>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>




			<section id="mailchimp" class="c-gutter-60 ds s-pt-60 s-pt-md-80 s-pt-xl-90 s-pb-60 s-pb-md-80 s-pb-xl-135">
				<div class="container">

					<div class="row">
						<div class="col-md-12 col-lg-6">
							<h1><span class="color-main">Just looking</span><br> for news?</h1>
							<div class="fw-divider-special">
								<p class="special"></p>
							</div>
						</div>
						<div class="col-md-12 col-lg-6">
							<div class="divider-50"></div>
							<p class="fs-20">Whether you are an existing driver or a new driver who needs help preparing for road test.</p>
							<div class="divider-45"></div>
							<div class="widget widget_mailchimp">


								<form class="signup" action="/">

									<input id="mailchimp_email_second" name="email" type="email" class="form-control mailchimp_email" placeholder="Email">

									<button type="submit" class="search-submit">
										<span class="screen-reader-text">Subscribe</span>
									</button>
									<div class="response"></div>
								</form>

							</div>
						</div>

					</div>
				</div>
			</section>

		<section class="s-pb-60 s-py-50">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h1><span class="color-main">LOJA </span>MILICO</h1>
							<div class="divider-20"></div>
							<div class="fw-divider-special-center">
								<p class="special"></p>
							</div>
							<div class="divider-35 divider-md-55"></div>
						</div>

						<ul class="products owl-carousel" data-autoplay="true" data-loop="true" data-responsive-lg="3" data-responsive-md="3" data-responsive-sm="1" data-responsive-xs="1" data-nav="true" data-dots="false" data-margin="0">

							<li class="product">
								<div class="product-inner">
									<a href="shop-product-left.html">
										<span class="onsale">OFERTA</span>

										<img src="{% static 'images/shop/01.jpg' %}" alt="">

										<h2>Calça camuflada</h2>

										<span class="price">
											<del>
												<span class="woocommerce-Price-amount amount">
													<span class="woocommerce-Price-currencySymbol">R$</span> 91<span>99</span>
												</span>
											</del>
											<ins>
												<span class="woocommerce-Price-amount amount">
													<span class="woocommerce-Price-currencySymbol">R$</span> 85<span>99</span>
												</span>
											</ins>
										</span>

									</a>
									<a rel="nofollow" href="shop-cart.html" class="button product_type_simple add_to_cart_button">Adicionar ao carrinho</a>
								</div>
							</li>

							<li class="product">
								<div class="product-inner">
									<a href="shop-product-left.html">
										<img src="{% static 'images/shop/02.jpg' %}" alt="">
										<h2>Cortuno Premium Americano</h2>
										<span class="price">
											<span>
												<span>R$</span> 180,00
											</span>
										</span>
									</a>
									<a rel="nofollow" href="shop-cart.html" class="button product_type_simple add_to_cart_button">Adicionar ao carrinho</a>

								</div>
							</li>

							<li class="product">
								<div class="product-inner">
									<a href="shop-product-left.html">
										<img src="{% static 'images/shop/04.jpg' %}" alt="">
										<h2>Ear protection Peltor ComTac XP</h2>

										<span class="price">
											<span>
												<span>$</span>35.00
											</span>
										</span>
									</a>
									<a rel="nofollow" href="shop-cart.html" class="button product_type_simple add_to_cart_button">Add to
										cart</a>
								</div>
							</li>

							<li class="product">
								<div class="product-inner">
									<a href="shop-product-left.html">
										<img src="{% static 'images/shop/03.jpg' %}" alt="">
										<h2>Pellets nr. 10, 300 pcs</h2>
										<span class="price">
											<span>
												<span>$</span>20.00
											</span>
										</span>
									</a>
									<a rel="nofollow" href="shop-cart.html" class="button product_type_simple add_to_cart_button">Add to
										cart</a>
								</div>
							</li>

							<li class="product">
								<div class="product-inner">
									<a href="shop-product-left.html">
										<img src="{% static 'images/shop/05.jpg' %}" alt="">
										<h2>Bow compound Buster </h2>

										<span class="price">
											<span>
												<span>$</span>35.00
											</span>
										</span>
									</a>
									<a rel="nofollow" href="shop-cart.html" class="button product_type_simple add_to_cart_button">Add to
										cart</a>
								</div>
							</li>

						</ul><!-- .shop-slider -->
					</div>
				</div>
			</section>







			<section id="service-icon" class="ds">
				<div class="container">
					<div class="row c-gutter-50 mobile-padding-normal">
						<div class="divider-70 divider-xl-105"></div>

						<div class="col-sm-12 col-md-6 col-lg-3 text-center">
							<div class="icon-box text-center">
								<div class="icon-styled fs-60">
									<i class="color-main ico icon-medal-1"></i>
								</div>
								<h5 class="fw-300">Unique experiences</h5>
								<p>
									Our Instructors are Highly Trained in the latest Safety Techniques &amp;
								</p>
							</div>
						</div>

						<div class="divider-40 d-sm-block d-md-none"></div>

						<div class="col-sm-12 col-md-6 col-lg-3 text-center">
							<div class="icon-box text-center">
								<div class="icon-styled fs-60">
									<i class="color-main ico icon-radar-1"></i>
								</div>
								<h5 class="fw-300">Job satisfaction</h5>
								<p>
									Our Instructors are Highly Trained in the latest Safety Techniques &amp;
								</p>
							</div>
						</div>

						<div class="divider-40 d-md-block d-lg-none "></div>

						<div class="col-sm-12 col-md-6 col-lg-3 text-center">
							<div class="icon-box text-center">
								<div class="icon-styled fs-60">
									<i class="color-main ico icon-aim-1"></i>
								</div>
								<h5 class="fw-300">Work / life balance</h5>
								<p>
									Our Instructors are Highly Trained in the latest Safety Techniques &amp;
								</p>
							</div>
						</div>

						<div class="divider-40 d-sm-block d-md-none"></div>

						<div class="col-sm-12 col-md-6 col-lg-3 text-center">
							<div class="icon-box text-center">
								<div class="icon-styled fs-60">
									<i class="color-main ico icon-tent"></i>
								</div>
								<h5 class="fw-300">Lifelong friendships</h5>
								<p>
									Our Instructors are Highly Trained in the latest Safety Techniques &amp;
								</p>
							</div>
						</div>

						<div class="divider-60 divider-md-80 divider-xl-90"></div>
					</div>
				</div>
			</section>



					<section id="section_testimonials" class="ls s-py-50">
				<div class="container">
					<div class="row c-gutter-50 mobile-padding-normal">
						<div class="col-lg-12">
							<h1><span class="color-main">Fórum / </span> <br> Dúvidas</h1>
							<div class="divider-20"></div>
							<div class="fw-divider-special">
								<p class="special"></p>
							</div>
							<div class="divider-25 divider-xl-45"></div>
						</div>
						<div class="col-md-12">
							<div class="testimonials-slider owl-carousel" data-autoplay="true" data-loop="true" data-responsive-lg="3" data-responsive-md="3" data-responsive-sm="1" data-responsive-xs="1" data-nav="false" data-dots="false" data-margin="30">
								<div class="quote-item">
									<p>
										<i class="fa fa-quote-left"></i>
										Tenho vontade de me tornar militar, como faço para ingressar nas Forças Armadas?
									</p>
									<div class="quote-image">
										<img src="images/team/testimonials_01.png" alt="">
									</div>

									<footer>
										<cite class="color-dark">Felipe Pereira</cite>
										<span class="color-main">patriota</span>
									</footer>
								</div>


								<div class="quote-item">
									<p>
										<i class="fa fa-quote-left"></i>
										Como funciona o plano de carreira da Policia Federal, existe graduações?
									</p>
									<div class="quote-image">
										<img src="images/team/testimonials_02.png" alt="">
									</div>

									<footer>
										<cite class="color-dark">Paulo Sérgio</cite>
										<span class="color-main">3º SG - Exército Brasileiro</span>
									</footer>
								</div>


								<div class="quote-item">
									<p>
										<i class="fa fa-quote-left"></i>
										É verdade que mudou a nomeclatura de Agente Penitenciário para Polícia Penitenciária?
									</p>
									<div class="quote-image">
										<img src="images/team/testimonials_03.png" alt="">
									</div>
									<footer>
										<cite class="color-dark">Roberto Albuquerque</cite>
										<span class="color-main">Agente Peniteciário</span>
									</footer>
								</div>

							</div><!-- .testimonials-slider -->

						</div>

					</div>
				</div>
			</section>

			<section class="cs s-pt-60 s-pt-md-80 s-pt-xl-90 s-pb-60 s-pb-md-80 s-pb-xl-100">
				<div class="container">

					<div class="row">
						<div class="col-md-12 col-lg-6">
							<div class="media vertical-center">
								<div class="icon-styled fs-51">
									<i class="ico icon-message"></i>
								</div>
								<div class="media-body">
									<h4>Mantenha-se atualizado <span class="color-dark">Receba nossos e-mails</span></h4>
									<p>Fique atento às últimas notícias.</p>
								</div>
							</div>
							<div class="divider-40 d-block d-lg-none"></div>
						</div>
						<div class="col-md-12 col-lg-6">
							<div class="divider-20 d-none d-xl-block"></div>
							<div class="widget widget_mailchimp">


								<form class="signup" action="/">

									<input id="mailchimp_email" name="email" type="email" class="form-control mailchimp_email" placeholder="Email">

									<button type="submit" class="search-submit">
										<span class="screen-reader-text">Se inscrever</span>
									</button>
									<div class="response"></div>
								</form>

							</div>
						</div>

					</div>
				</div>
			</section>

{% endblock %}