{% extends 'core/base.html' %}
{% block title %}Ative sua conta | {{ block.super }}{% endblock %}
{% block menu %}
{% include 'menu/fix.html' %}
{% endblock %}

{%block content %}

         <section class="ls s-py-25">
				<div class="container">
					<div class="row">

						<div class="d-none d-lg-block divider-70"></div>

						<main class="col-lg-12">
							<article>
								<!-- .entry-header -->
								<div class="entry-content">
									<div class="woocommerce">

										<div class="icon-box text-center hero-bg rounded box-shadow animate" data-animation="slideUp" data-delay="150" >
											{% if sucessoCadastro %}
												<div class="icon-styled bg-maincolor rounded fs-24">
													<i class="fa fa-envelope"></i>
												</div>
												<h6 class="fw-300">Email de ativação.</h6>
												<p>

														{{ sucessoCadastro }}


												</p>
												<p>
													<a href="{% url 'accounts:cadastroReenvioEmail' %}">Reenviar email</a>
												</p>
											{% endif %}
										</div>

                  </div>
								</div>
								<!-- .entry-content -->
							</article>


						</main>

						<div class="d-none d-lg-block divider-70"></div>
					</div>

				</div>
			</section>

{% endblock %}