{% extends 'core/base.html' %}
{% load static %}
{% block title %}Acessar sua conta{{ block.super }}{% endblock %}
{% block menu %}
{% include 'menu/fix-blank.html' %}
{% endblock %}

{% block content %}
<div class="d-none d-lg-block divider-70"></div>
				<div class="container">
					<div class="row">


	<div class="col-lg-6">
							<div class="card shadow-sm">
								<!-- .entry-header -->
							<div class="card-header">
											<h5><i class="fa fa-user-o"></i> Quero criar uma conta</h5>
										</div>

								<div class="entry-content card-body">
									<div class="woocommerce">

										<!--
			<div class="woocommerce-message">Are you sure you want to log out? <a
				href="shop-account-login.html">Confirm and log out</a>
			</div>
			-->

										<form class="woocomerce-form " method="post" 	>
										{% csrf_token %}

											<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
												<label for="username">E-mail <span class="required">*</span>
												</label>
												<input type="text" required class="woocommerce-Input woocommerce-Input--text input-text" name="username" id="username" value="">
											</p>
											
											<p class="form-row">
												<input type="submit" class="button" name="login" value="Continuar">

						
											</p>
											<p class="woocommerce-LostPassword lost_password">
												Dúvidas? <a href="shop-account-password-reset.html">fale conosco</a>
											</p>


										</form>



									</div>
								</div>
								<!-- .entry-content -->
							</div>


						</div>

						<div class="col-lg-6">
							<div class="card shadow-sm">
								<!-- .entry-header -->
								<div class="card-header">
								<h5 ><i class="fa fa-thumbs-o-up"></i>  Já sou cadastrado</h5>
								</div>
								<div class="entry-content card-body">
									<div class="woocommerce">

										<!--
			<div class="woocommerce-message">Are you sure you want to log out? <a
				href="shop-account-login.html">Confirm and log out</a>
			</div>
			-->

										<form class="woocomerce-form " method="post" 	>
										{% csrf_token %}

											<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
												<label for="username">Usuário ou E-mail <span class="required">*</span>
												</label>
												<input type="text" required class="woocommerce-Input woocommerce-Input--text input-text" name="username" id="username" value="">
											</p>
											<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
												<label for="woo-password">Senha <span class="required">*</span>
												</label>
												<input required class="woocommerce-Input woocommerce-Input--text input-text" type="password" name="password" id="woo-password">
											</p>
		<p class="woocommerce-LostPassword lost_password">

											</p>
											<p class="form-row">
												<input type="submit" class=" button" name="login" value="Continuar">

												<label class="woocommerce-form__label woocommerce-form__label-for-checkbox mt-3">
													<input class="woocommerce-form__input woocommerce-form__input-checkbox" name="rememberme" type="checkbox" id="rememberme" value="forever">
													<span>Mantenha-me conectado</span>
												</label>
											</p>
											<p class="woocommerce-LostPassword lost_password">
												Esqueci meu <a href="shop-account-password-reset.html">e-mail</a> ou a <a href="shop-account-password-reset.html">senha</a>
											</p>


										</form>



									</div>
								</div>
								<!-- .entry-content -->
							</div>


						</div>

						<div class="d-none d-lg-block divider-70"></div>
					</div>

				</div>
			</section>

{% endblock %}