{% load static %}
			<li>

											<ul class="nav sf-menu my-menu">
												<li>
													<a href="#" ><img src="{% static 'images/avatar/police-8.png' %}" width="40"></a>

												<ul style="display: none;">


													<li class="">
														<a href="shop-account-dashboard.html"><i class="fa fa-user-circle"></i>  Minha conta</a>
														<ul style="display: none; margin-top: 5px; left: -272px;">

															<li>
																<a href="shop-account-details.html">Editar perfil</a>
															</li>
															<li>
																<a href="shop-account-addresses.html">Endereços</a>
															</li>
															<li>
																<a href="shop-account-address-edit.html">Dados Bancários</a>
															</li>
															<li>
																<a href="shop-account-address-edit.html">Configurações</a>
															</li>

														</ul>
													</li>

													<li>
														<a href="shop-right.html"><i class="fa fa-shopping-bag"></i>Pedidos</a>
													</li>

													<li>
														<a href="shop-right.html"><i class="fa fa-ticket"></i>Meus cupons</a>
													</li>

													<li>
														<a href="shop-right.html"><i class="fa fa-heart"></i> Lista de desejos</a>
													</li>


												</ul>
												</li>
											</ul>


										</li>
