{% load static %}
			<li>

											<ul class="nav sf-menu my-menu">
												<li>
													<a href="#" ><img src="{% static 'images/user.png' %}" width="40"></a>

												<ul style="display: none;">


													<li>
														<a href="shop-left.html"><i class="fa fa-user-circle"></i> Perfil</a>
													</li>
													<li>
														<a href="shop-right.html"><i class="fa fa-shopping-bag"></i> Meus pedidos</a>
													</li>
													<li>
														<a href="shop-right.html"><i class="fa fa-ticket"></i> Cupons</a>
													</li>

													<li>
														<a href="shop-right.html"><i class="fa fa-heart"></i> Lista de desejos</a>
													</li>
														<li class="">
														<a href="shop-account-dashboard.html"><i class="fa fa-gear"></i>  Configurações</a>
														<ul style="display: none; margin-top: 5px; left: -272px;">

															<li>
																<a href="shop-account-details.html">Account details</a>
															</li>
															<li>
																<a href="shop-account-addresses.html">Addresses</a>
															</li>
															<li>
																<a href="shop-account-address-edit.html">Edit Address</a>
															</li>
															<li>
																<a href="shop-account-orders.html">Orders</a>
															</li>
															<li>
																<a href="shop-account-order-single.html">Single Order</a>
															</li>
															<li>
																<a href="shop-account-downloads.html">Downloads</a>
															</li>
															<li>
																<a href="shop-account-password-reset.html">Password Reset</a>
															</li>
															<li>
																<a href="shop-account-login.html">Login/Logout</a>
															</li>

														</ul>
													</li>
													<li>
														<a href="shop-checkout.html"><i class="fa fa-sign-out"></i> Sair</a>
													</li>


												</ul>
												</li>
											</ul>


										</li>
