		<nav class="woocommerce-MyAccount-navigation">
											<ul>
												<li class="is-active">
													<a href="shop-account-dashboard.html">Minha conta</a>
												</li>
												<li>
													<a href="shop-account-downloads.html">Endereços</a>
												</li>
												<li>
													<a href="shop-account-downloads.html">Dados Bancários</a>
												</li>
												<li>
													<a href="shop-account-addresses.html">Segurança</a>
												</li>
												<li>
													<a href="shop-account-addresses.html">Preferências</a>
												</li>
												<li>
													<a href="{% url 'accounts:logout' %}">Sair</a>
												</li>
											</ul>
			</nav>