{% load static %}
{% block head %}
<head>
	<meta charset="utf-8">
	<!--[if IE]>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<![endif]-->
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon.ico' %}">
	<link rel="manifest" href="{% static 'images/favicon/site.webmanifest' %}">
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<!-- Responsável por carregar os arquivos estáticos -->

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
	<link rel="stylesheet" href="{% static 'css/dashboard_style.css' %}" class="color-switcher-link">
        <link rel="stylesheet" href="{% static 'css/icons.css' %}">
        <link rel="stylesheet" href="{% static 'css/editor.css' %}">

	<!--[if lt IE 9]>


	<![endif]-->

</head>

{% endblock %}